h1 {
  font-size: 50px;
    color: #640D5F;
    font-weight: bold;
}
h2 {
   font-size: 30px;
    color: #433878;
    font-weight: lighter; 
}

.anim {
    animation: glow 4s infinite;
}
@keyframes glow {
    0% {opacity: 1;}
    50% {opacity: 3}
    100% {opacity: 0;}
}
